<h1>Role #<%= @role.id %></h1>

<p>
  <b>Character name:</b>
  <%= @role.character_name %>
</p>

<p>
  <b>Movie:</b>
  <%= link_to @role.movie.title, movie_url(@role.movie.id) %>
</p>

<p>
  <b>Actor:</b>
  <%= link_to @role.actor.name, actor_url(@role.actor.id) %>
</p>

